Django==1.10.6
Flask==0.12
Flask-JSGlue==0.3.1
Flask-SQLAlchemy==2.2
Flask-Session==0.3.1
Jinja2==2.9.5
MarkupSafe==1.0
SQLAlchemy==1.1.7
Werkzeug==0.12.1
chardet==2.2.1
click==6.7
colorama==0.2.5
decorator==4.0.11
feedparser==5.2.1
getch==1.0
html5lib==0.999
ipython-genutils==0.2.0
itsdangerous==0.24
jsonschema==2.6.0
jupyter-core==4.3.0
nbformat==4.3.0
nltk==3.2.4
oauthlib==2.0.2
passlib==1.7.1
pexpect==3.1
plotly==2.0.10
pycurl==7.19.3
pygobject==3.12.0
python-apt==0.9.3.5ubuntu2
pytz==2017.2
requests==2.2.1
requests-oauthlib==0.8.0
six==1.5.2
termcolor==1.1.0
traitlets==4.3.2
twython==3.5.0
unattended-upgrades==0.1
urllib3==1.7.1
virtualenv==15.1.0
wheel==0.24.0
